// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

// Fix logo display.
h1.top-bar-title {
    a {
        padding: 5px;
        background: #fff;
        display: block;

        img {
            float: none !important;
            display: block;
        }
    }
}

.wrapper > header,
.top-bar {
    background: #fff;
}

.subnavigation {
    background: $brand;

    a {
        $color: #fff;

        color: $color;

        &:hover,
        &:focus {
            color: darken($color, 10%);
        }
    }
}

.dropdown.menu {
    > li {
        &.is-active {
            a {
                color: $brand;
            }
        }

        &.is-dropdown-submenu-parent {
            > a {
                &:after {
                    border-color: $brand transparent transparent;
                }
            }
        }
    }
}

.top-bar {
    .menu {
        > li {
            a {
                color: $brand;

                &:hover,
                &:focus {
                    color: darken($brand, 20%);
                }
            }
        }
    }
}
