// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

// Fix logo display.
h1.top-bar-title {
    a {
        padding: 5px;
        background: #fff;
        display: block;

        img {
            float: none !important;
            display: block;
        }
    }
}

// Fix background for some parts.
.wrapper > header,
.top-bar {
    background: #fff;
}

// Fix colors for 'subnavigation' (which is the main nav).
.subnavigation {
    background: $brand;

    a {
        $color: #fff;

        color: $color;

        &:hover,
        &:focus {
            color: darken($color, 10%);
        }

        &.is-active {
            color: darken($color, 10%);
            border-color: darken($color, 10%);
        }
    }
}

// Fix colors in dropdown menu.
.dropdown.menu {
    > li {
        &.is-active {
            a {
                color: $brand;
            }
        }

        &.is-dropdown-submenu-parent {
            > a {
                &:after {
                    border-color: $brand transparent transparent;
                }
            }
        }
    }
}

// Fix colors for top bar.
.top-bar {
    .menu {
        > li {
            a {
                color: $brand;

                &:hover,
                &:focus {
                    color: darken($brand, 20%);
                }
            }
        }
    }
}

// Fix color for mobile menu opener.
.menu-button {
  color: $brand;
}

// Don't show padding for additional links.
body > header .external-links,
.wrapper > header .external-links {
  padding: 0;
}

// Hide back links for some items in the frontend.
.wrapper {
  .polls-show,
  .legislation-hero {
    a.back {
      display: none;
    }
  }
}

// Beautify polls a bit.
.poll-question-answers {
  // Make links more prominent.
  .button.hollow.secondary {
    border: 2px solid $brand;
    color: inherit;

    &:hover,
    &:focus {
      background: lighten($brand, 50%);
    }
  }

  // Non-clickable things shouldn't have pointer cursor.
  span.button {
    cursor: default;
  }
}

// Make font sizes a bit bigger.
html {
  font-size: 105%;
}
.callout,
.tabs h2,
.tabs h3,
.menu.simple h2 {
  font-size: 1rem;
}

// Add separator for footer links.
footer {
  .subfooter {
    li.inline-block {
      &:after {
        content: ' | '
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}

// Make mobile menu nicer and easier to use.
@include breakpoint(small down) {
  #responsive-menu {
    ul.menu {
      border: 1px solid $brand;

      ul.submenu {
        margin: 0;
        padding: 0;
        border: none;
      }
    }

    li {
      margin-bottom: 0;

      a {
        padding: 0.7rem 1rem;
        line-height: 1;
      }
    }

    .show-for-small-only {
      .row {
        margin: 0;

        .column {
          padding: 0;
        }
      }
    }
  }
}
