<div class="small-12 medium-9 column">
  <ul>   
    <li>
      <%= layout_menu_link_to 'Start',
                              '/',
                              current_page?('/'),
                              accesskey: "1" %>
    </li>

    <%= raw content_block("subnavigation_left", I18n.locale) %>

    <% if feature?(:help_page) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.help"),
                                help_path,
                                current_page?(help_path),
                                accesskey: "4" %>
      </li>
    <% end %>
  </ul>
</div>
